@import url('/assets/fonts/SpaceGrotesk-Bold.ttf');
@import url('/assets/fonts/SpaceGrotesk-Medium.ttf');
@import url('/assets/fonts/SpaceGrotesk-Regular.ttf');
@import url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


.inner {
  max-width: 1224px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  @include media-down(sp) {
    padding: 0 15px;
  }
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-space-grotesk-b {
    font-family: 'SpaceGrotesk', sans-serif;
}

.bg-top {
  padding-top: 70px;
  background: url('/assets/img/bg.jpg') repeat-y top 0 left 0;
  background-size: cover;
  width: 100%;
}

.sec {
  &-cmn {
    margin-bottom: 50px;
  }
  &-challenge {
    margin-bottom: 210px;
  }
}


.b-adventure {
  width: 81%;
  margin: 0 auto 55px;

  &__banner {
    width: 58%;
    margin: 0 auto;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -7%;
    padding: 10% 10% 2%;
    background: url('/assets/img/img_banner.svg') no-repeat center;
    background-size: contain;

    &--image {
      position: relative;
      width: 26%;
      padding-bottom: 30%;
      background-color: #FFDFA0;
      transform: skewY(-2deg);

      .img-people {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        transform: translate(-50%, -50%);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }

      .icon-pin {
        position: absolute;
        top: 5%;
        right: 5px;
        width: 14%;
        height: 13%;
      }
    }
    &--box {
      width: 50%;
      padding: 0 2%;
    }
    &--name {
      margin-bottom: 4%;
      color: #FFAB0E;
      font-size: min(42px, 3.2vw);
      font-family: 'SpaceGrotesk', sans-serif;
      font-weight: bold;
    }
    &--point {
      display: flex;
      align-items: center;
      color: #FFE5B9;
      font-size: min(67px, 4.3vw);
      font-family: 'SpaceGrotesk-Bold', sans-serif;
    }
    .icon-star {
      margin-right: 10px;
      width: 21%;
    }
  }
  &__insert {
    width: 23%;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  @include media-down(sp) {
    width: 100%;
    margin-bottom: 25px;

    &__info {
      margin-top: -7%;
      padding: 10% 10% 2%;

      &--image {
        width: 26%;
        padding-bottom: 30%;

        .img-people {
          width: calc(100% - 8px);
          height: calc(100% - 8px);
        }

        .icon-pin {
          position: absolute;
          top: 5%;
          right: 5px;
          width: 14%;
          height: 13%;
        }
      }
      &--box {
        width: 50%;
        padding: 0 2%;
      }
      &--name {
        font-size: min(21px, 3.5vw);
      }
      &--point {
        display: flex;
        align-items: center;
        color: #FFE5B9;
        font-size: min(67px, 4.3vw);
        font-family: 'SpaceGrotesk-Bold', sans-serif;
      }
      .icon-star {
        margin-right: 10px;
        width: 21%;
      }
    }
    &__insert {
      width: 23%;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
  }
}

.box-time {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 62%;
  .txt-time {
    position: absolute;
    top: 37%;
    right: 10%;
    color: #fff;
    font-size: min(65px, 5.1vw);
    font-family: "SpaceGrotesk-Bold", sans-serif;
    display: flex;
    gap: 4%;

  }
}

.headline-1 {
  margin-bottom: 10px;
  color: #FFAB0E;
  font-size: 48px;
  line-height: 1.3;
  font-weight: bold;
  font-family: 'SpaceGrotesk', sans-serif;
  text-align: center;
  @include media-down(sp) {
    font-size: 24px;
  }
}

.txt {
  &-cmn {
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: bold;
    line-height: 1.7;
  }
  &-date {
    color: #FFF993;
    font-size: 40px;
    font-weight: bold;
  }
  
  @include media-down(sp) {
    &-cmn {
      font-size: 14px;
    }
    &-date {
      font-size: 20px;
    }
  }
}

.b-challenge {
  position: relative;
}

.list-challenge {
  display: flex;
  &__item {
    position: absolute;
    &--inner {
      position: relative;
      width: 100%;
      height: 100%;
    }
    &--number {
      position: absolute;
      color: #fff;
      font-size: min(26px, 1.5vw);
      font-family: "SpaceGrotesk-SemiBold", sans-serif;
      line-height: 1.1;
      bottom: 11%;
      left: 47%;
    }
    &--1 {
      bottom: 16%;
      left: 5.5%;
      width: 18%;
    }
    &--2 {
      bottom: 34%;
      left: 22%;
      width: 13%;
    }
    &--3 {
      bottom: 15%;
      left: 35%;
      width: 16%;
    }
    &--4 {
      bottom: 30%;
      left: 49%;
      width: 14%;
    }
    &--5 {
      top: 34%;
      right: 21%;
      width: 13.5%;
    }
    &--6 {
      bottom: 22%;
      right: 4.5%;
      width: 16%;
    }
    &--1,
    &--3,
    &--4,
    &--6 {
      .list-challenge__item--number {
        bottom: 10%;
      }
    }
    &--5,
    &--6 {
      .list-challenge__item--number {
        left: 43%;
      }
    }
  }
  @include media-down(670) {
    &__item {
      &--number {
        bottom: 13%;
      }
      &--1,
      &--3,
      &--4 {
        .list-challenge__item--number {
          bottom: 12%;

        }
      }
    }
  }
}

.list-level {
  display: flex;
  gap: 20px;
  &__item {
    width: calc(100% / 3);
    > ul {
      li {
        position: relative;
        padding-bottom: 10px;
        padding-left: 15px;
        font-size: 17px;
        line-height: 1.2;
        color: #3F1104;
        &::before {
          content: "";
          position: absolute;
          top: 7px;
          left: 0;
          width: 5px;
          height: 5px;
          background-color: #3F1104;
          border-radius: 50%;
        }
        &:not(:last-child) {
          &::after {
            content: "";
            position: absolute;
            top: 10px;
            left: 2px;
            width: 10px;
            height: 100%;
            border-left: 1px dotted #3F1104;
          }
        }
      }
    }
  }
  @include media-down(sp) {
    flex-wrap: wrap;
    gap: 10px;
    &__item {
      width: 100%;
      > ul {
        li {
          padding-bottom: 7px;
          padding-left: 15px;
          font-size: 13px;
          &::before {
            top: 5px;
            width: 5px;
            height: 5px;
          }
          &:not(:last-child) {
            &::after {
              top: 10px;
              left: 2px;
              width: 10px;
              height: 100%;
              border-left: 1px dotted #3F1104;
            }
          }
        }
      }
    }
  }
}

@keyframes scaleAnim {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}