@import url('/assets/fonts/SpaceGrotesk-Bold.ttf');
@import url('/assets/fonts/SpaceGrotesk-Medium.ttf');
@import url('/assets/fonts/SpaceGrotesk-Regular.ttf');
@import url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


.inner {
  max-width: 1224px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  padding: 0 30px;
  @include media-down(sp) {
    padding: 0 15px;
  }
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-space-grotesk-b {
    font-family: 'SpaceGrotesk', sans-serif;
}

.bg-top {
  padding-top: 70px;
  background: url('/assets/img/bg.jpg') no-repeat top 0 left 0;
  background-size: cover;
  width: 100%;
  height: 300vh;
}

.sec-cmn {
  margin-bottom: 50px;
}

.b-adventure {
  width: 81%;
  margin: 0 auto 55px;

  &__banner {
    width: 58%;
    margin: 0 auto;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -7%;
    padding: 10% 10% 2%;
    background: url('/assets/img/img_banner.svg') no-repeat center;
    background-size: contain;

    &--image {
      position: relative;
      width: 26%;
      padding-bottom: 30%;
      background-color: #FFDFA0;
      transform: skewY(-2deg);

      .img-people {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        transform: translate(-50%, -50%);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }

      .icon-pin {
        position: absolute;
        top: 5%;
        right: 5px;
        width: 14%;
        height: 13%;
      }
    }
    &--box {
      width: 50%;
      padding: 0 2%;
    }
    &--name {
      margin-bottom: 4%;
      color: #FFAB0E;
      font-size: min(42px, 3.2vw);
      font-family: 'SpaceGrotesk', sans-serif;
      font-weight: bold;
    }
    &--point {
      display: flex;
      align-items: center;
      color: #FFE5B9;
      font-size: min(67px, 4.3vw);
      font-family: 'SpaceGrotesk-Bold', sans-serif;
    }
    .icon-star {
      margin-right: 10px;
      width: 21%;
    }
  }
  &__insert {
    width: 23%;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  @include media-down(sp) {
    width: 100%;
    margin-bottom: 25px;
    // &__banner {
    //   width: 58%;
    //   margin: 0 auto;
    //   img {
    //     width: 100%;
    //     vertical-align: middle;
    //   }
    // }

    &__info {
      margin-top: -7%;
      padding: 10% 10% 2%;

      &--image {
        width: 26%;
        padding-bottom: 30%;

        .img-people {
          width: calc(100% - 8px);
          height: calc(100% - 8px);
        }

        .icon-pin {
          position: absolute;
          top: 5%;
          right: 5px;
          width: 14%;
          height: 13%;
        }
      }
      &--box {
        width: 50%;
        padding: 0 2%;
      }
      &--name {
        font-size: min(21px, 3.5vw);
      }
      &--point {
        display: flex;
        align-items: center;
        color: #FFE5B9;
        font-size: min(67px, 4.3vw);
        font-family: 'SpaceGrotesk-Bold', sans-serif;
      }
      .icon-star {
        margin-right: 10px;
        width: 21%;
      }
    }
    &__insert {
      width: 23%;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
  }
}

.box-time {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 63%;
  span {
    position: absolute;
    top: 36%;
    right: 10%;
    color: #fff;
    font-size: min(100px, 6.3vw);
    font-family: 'SpaceGrotesk-Bold', sans-serif;
  }
}

.headline-1 {
  margin-bottom: 10px;
  color: #FFAB0E;
  font-size: 48px;
  line-height: 1.3;
  font-weight: bold;
  font-family: 'SpaceGrotesk', sans-serif;
  text-align: center;
  @include media-down(sp) {
    font-size: 24px;
  }
}

.txt {
  &-cmn {
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: bold;
    line-height: 1.7;
  }
  &-date {
    color: #FFF993;
    font-size: 40px;
    font-weight: bold;
  }
  
  @include media-down(sp) {
    &-cmn {
      font-size: 14px;
    }
    &-date {
      font-size: 20px;
    }
  }
}

@keyframes scaleAnim {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}