.hidden {
    display: none;
}

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-map {
  position: relative;
  max-width: 1000px;
  padding: 80px 65px 50px 75px;
  width: 90%;
  background: url('/assets/img/bg_modal_pc.png') no-repeat center;
  background-size: cover;
  .close {
    position: absolute;
    width: 36px;
    height: 37px;
    right: 40px;
    top: 30px;
  }
  .title {
    margin-bottom: 10px;
    color: #3F1104;
    font-size: min(44px, 3.9vw);
    font-weight: bold;
    line-height: 1.2;
  }
  .txt {
    margin-bottom: 20px;
    color: #3F1104;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.2;
  }
  .map-info {
    display: flex;
    gap: 15px;
    &__content {
      width: calc(100% - 315px);
    }
    &__image {
      min-width: 315px;
      width: 315px;
    }
  }
  .b-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .title {
      margin-bottom: 0;
    }
    .txt {
      margin-bottom: 0;
      font-style: italic;
    }
  }
  .btn_register {
    position: relative;
    display: block;
    width: 36%;
    margin: 25px auto 0;
    transition: opacity 0.3s linear;
    .text {
      position: absolute;
      top: 21%;
      left: 50%;
      display: block;
      width: max-content;
      color: #3F1104;
      font-size: min(28px, 2.7vw);
      font-weight: bold;
      text-decoration: none;
      transform: translateX(-50%);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  @include media-down(960) {
    padding: 80px 50px 50px;
    .map-info {
      &__content {
        width: calc(100% - 250px);
      }
      &__image {
        min-width: 250px;
        width: 250px;
      }
    }
  }
  @include media-down(sp) {
    padding: 60px 25px 35px;
    background-image: url('/assets/img/bg_modal_sp.png');
    .close {
      width: 14px;
      height: 14px;
      right: 20px;
      top: 26px;
    }
    .map-info {
      flex-wrap: wrap;
      &__content {
        width: 100%;
      }
      &__image {
        min-width: auto;
        width: 100%;
      }
    }
    .title {
      font-size: 23px;
    }
    .txt {
      margin-bottom: 10px;
      font-size: 13px;
    }
    .b-level {
      margin-bottom: 20px;
    }
    .btn_register {
      width: 190px;
      margin: 15px auto 0;
      .text {
        top: 23%;
        font-size: 16px;
      }
    }
  }
}


.ctm-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  color: #3F1104;
  font-size: 26px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 33px;
    width: 33px;
    background: url('/assets/img/bg_checkbox.png') no-repeat center;
    transform: translateY(-50%);
    &:after {
      display: none;
      content: "";
      position: absolute;
      width: 41px;
      height: 37px;
      background: url(/assets/img/icon_check.png) no-repeat center center;
      background-size: 100% 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-60%);
    }
  }
  @include media-down(sp) {
    margin-bottom: 5px;
    padding-left: 20px;
    font-size: 13px;
    .checkmark {
        height: 12px;
        width: 12px;
        background-size: 12px;
        &:after {
          width: 14px;
          height: 15px;
          background-size: 14px 15px;
        }
      }
  }
}