// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Basic typography style for copy text
// -----------------------------------------------------------------------------
body {
    color: $text-color;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.231;
    font-family: "Noto Sans JP", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", メイリオ, Meiryo, sans-serif;
    font-feature-settings: "palt";
    letter-spacing: 0.05rem;
    width: 100%;
}